third_party/** linguist-vendored
experimental/SgtClient/components/** linguist-vendored
docs/** linguist-documentation
*.m linguist-detectable=false
*.m4 linguist-detectable=false
*.cdf linguist-detectable=false
