h1,h2 {
    text-align: center;
    margin-bottom: 5px;
}

.sgt-center-block {
    display: table;
}

.sgt-row {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
}

.sgt-network-graph {
    position: relative;
    height: 60vh;
    border-style: solid;
    border-width: thin;
}

.sgt-network-properties {
    height: 60vh; 
    border-style: solid;
    border-width: thin;
    overflow: scroll;
}

.sgt-network-graph-layer{
    position: absolute;
    float: left;
    top: 0;
    left: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.sgt-progress-outer {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.sgt-progress-inner {
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width: 40%;
    background-color: rgba(230, 230, 240, 0.96);
    z-index: 1;
    position: relative;
}

progress {
    display: block;
    margin: 1em auto;
}

.guttered-left {
    padding-left: 0px;
    padding-right: 10px;
}

.guttered-right {
    padding-left: 10px;
    padding-right: 0px;
}
