html, body, svg { width: 100%; height: 100%;}
.sgt_header { text-align: center; }
.sgt_wrapper {
    position: relative;
    width: 90vw;
    height: 60vh;
    margin : 10px auto;
}
.sgt_network_graph {
    position: relative;
    width: calc(60% - 15px);
    height: 100%;
    border-style: solid;
    border-width: thin;
    background-color: transparent;
    float: left;
}
.sgt_network_graph_layer{
    position: absolute;
    float: left;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.sgt_network_properties {
    width: calc(40% - 40px);
    height: 100%;
    border-style: solid;
    border-width: thin;
    background-color: transparent;
    float: right;
    overflow: scroll;
}
.sgt_controls {
    display: block;
    margin: 0 auto;
    border: none;
    text-align: center;
}
.sgt_control {
    display: inline-block;
    margin: 0.5em;
}
.sgt_checkbox {
    margin: 0.75em;
}
.sgt_range {
    margin-left: 1em;
    margin-right: 1em;
}
.sgt_progress_outer {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.sgt_progress_inner {
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width: 40%;
    background-color: rgba(230, 230, 240, 0.96);
    z-index: 1;
    position: relative;
}
progress {
    display: block;
    margin: 1em auto;
}
